{% extends 'login_required.html' %}

{% block title %}账户列表{% endblock %}

{% block mainContent %}
{% load url from future %}
<table width="100%">
	<thead>
		<th>工号</th>
		<th>姓名</th>
		<th>账户余额</th>
		<th>操作</th>
	</thead>
	{% for user in users %}
	<tr>
		<td>{{ user.id }}</td>
		<td>{{ user.get_full_name }}</td>
		<td style="color: {% if user.account.balance < 0 %}#cc0000{% endif %}">{{ user.account.balance }}</td>
		<td><a href="{% url 'payment.views.account_deposite' user_id=user.id %}">充值</a></td>
	</tr>
	{% endfor %}
</table>

<a href="{% url 'accounts.views.profile' %}">返回</a>

{% endblock %}
