{% extends "login_required.html" %}

{% block title %}个人资料{% endblock %}

{% block mainContent %}
{% load url from future %}
<table>
	<tr>
		<td>工号</td>
		<td>{{ user.id }}</td>
	</tr>
	<tr>
		<td>姓名</td>
		<td>{{ user.get_full_name }}</td>
	</tr>
	<tr>
		<td>账户余额</td>
		<td>{{ user.account.balance }} <a href="{% url 'payment.views.logs' %}">查看记录</a></td>
	</tr>
</table>

<a href="{% url 'django.contrib.auth.views.password_change' %}">修改密码</a>
<a href="{% url 'meal.views.menu' %}">订餐系统</a>

{% if perms.payment.deposite_account %}
<a href="{% url 'payment.views.account_list' %}">充值</a>
{% endif %}

{% endblock %}
